<h1>JUEGO DEL GATO CON BOTAS 420</h1>
<div class="row">
    <div class="row1">
        <div class="opcion1">
            <label for="s1"><b>Inicia:</b></label>
            <select id="s1" [disabled]="svf" (change)="turno($event)">
                <option value="0"> {{oie[0]}} </option>
                <option value="1"> {{oie[1]}} </option>
                <option value="2"> {{oie[2]}} </option>
            </select>
        </div>
        <div class="opcion2">
            <menu>
                <button [disabled]="false" (click)="enviar()">{{oie[3]}}</button>
                <button (click)="enviar()">{{oie[4]}}</button>
                <button (click)="enviar()">{{oie[5]}}</button>
                <!--<b><a href="#">{{vei[5]}}</a></b>-->
            </menu>
        </div>
    </div>

</div>
<!-- <p id="ganador"></p>
<div class="centro acciones">
    <button id="reiniciar">Nuevo juego</button>
    <select id="primer-jugador">
            <option value="O">Jugador</option>
            <option value="X">Computadora</option>
        </select>
</div>>-->