<h1>
    <p>Componente Gato</p>
</h1>
<div class="cuerpo">
    <div class="juego">
        <input type="text" class="figura1" [value]="limpiando[0]" (click)="contenido(0)" readonly>
        <input type="text" class="figura2" [value]="limpiando[1]" (click)="contenido(1)" readonly>
        <input type="text" class="figura3" [value]="limpiando[2]" (click)="contenido(2)" readonly>
        <br>
        <input type="text" class="figura4" [value]="limpiando[3]" (click)="contenido(3)" readonly>
        <input type="text" class="figura5" [value]="limpiando[4]" (click)="contenido(4)" readonly>
        <input type="text" class="figura6" [value]="limpiando[5]" (click)="contenido(5)" readonly>
        <br>
        <input type="text" class="figura7" [value]="limpiando[6]" (click)="contenido(6)" readonly>
        <input type="text" class="figura8" [value]="limpiando[7]" (click)="contenido(7)" readonly>
        <input type="text" class="figura9" [value]="limpiando[8]" (click)="contenido(8)" readonly>
    </div>
    <div>
        <h1>Turno: {{vson}}, {{vjug}}
        </h1>
    </div>
</div>